body {
  display: flex;
  background-color: lightgoldenrodyellow;
  align-items: center;
  justify-content: center;
}

.circle {
  display: flex;
  width: 150px;
  height: 150px;
  background-color: yellow;
  border-radius: 100%;
  margin-top: 20%;
  border: none;
}

.circle.dark {
  background-color: gray;
}

.dark-body {
  background-color: black;
}
